#mainMenu{
  ul{
    margin: 0;
    padding: 0;

    // global li:START
    li{
      margin: 0;
      padding: 0;
    }
    // global li:END

    // main level li:START
    > li{
      border-bottom: 2px solid $green;
    }
    // main level li:END

  }

  // global a:START
  a{
    text-decoration: none;
    @include font-size(1.6, 120%, 500);
  }
  // global a:END  
}