// base colours
// see: https://superuser.com/questions/361297/what-colour-is-the-dark-green-on-old-fashioned-green-screen-computer-displays
$black: rgb(40, 40, 40);
$amber: rgb(255,176,0);
$green: rgb(51,255,0);


//base colours
$base : $black;
$copy: $green;